<table>
	<tr>
		<td>Name: </td>
		<td><%= @user.name %></td>
	</tr>
	<tr>
		<td>username: </td>
		<td><%= @user.username %></td>
	</tr>
	<tr>
		<td>Email: </td>
		<td><%= @user.email %></td>
	</tr>
	<tr>
		<td>Image: </td>
		<td><%= @user.image_path %></td>
	</tr>
</table>

<% if @user.id == session[:user_id] %>
<%= render partial: 'tweets/form' %>
<% end %>
<%= render partial: 'users/tweet', collection: @user.tweets.order("created_at DESC") %>
