<div class="user-info">
	<%= image_tag @user.image_path, :class => "main-avatar"%> <br />
	<%= @user.name %> <br />
	@<%= @user.username %> <br />
	<%= @user.email %> <br />
</div>

<% if @user.id == session[:user_id] %>
<%= render partial: 'tweets/form' %>
<% end %>
<%= render partial: 'users/tweet', collection: @user.tweets.order("created_at DESC") %>
